{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.text) }}

    <button type="submit" class="btn btn-primary">Add</button>
    <a class="btn btn-warning" href="{{ path('allNotes') }}">Cancel</a>
    {{ form_end(form) }}
{% endblock %}

